#top_bar{width: 50%;}
#content-left{
    width: 50%;
    height: 100%;
    float: left;
    clear: left;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: scroll;
    overflow-y: scroll;
}
#player{width: 100%;}
#songlist{padding-top: 192px;}
#content-right{
    width: 50%;
    height: 100%;
    float: right;
    clear: right;
    position: fixed;
    top: 0;
    right: 0;
    overflow-x: scroll;
    overflow-y: scroll;
}
#lrclist{
    font-size: 20px;
}
li.on{
    color: #f7a4b9;
    font-weight: bold;
    font-size: 25px;
}
ul{transition-duration: 600ms;}
a:hover{
    cursor: pointer;
    color:#f7a4b9;
    font-weight: bold;
}