#post-content, #post-content p,#post-content li{
    font-size: 17px;
    color: #414141 !important;
}
::selection{background:#fff !important; color:#fe809f;}
::-moz-selection{background:#fff !important; color:#fe809f;}
::-webkit-selection{background:#fff !important; color:#fe809f;}

.gongyong a{
    z-index: 99999;
    position: fixed;
    border-radius: 20px;
    border: solid;
    font-size: 18px;
    width: 30px;
    height: 30px;
    background: #fff;
    color: #000;
    position: fixed;
    text-align: center;
    line-height: 30px;
    right: 2%;
    text-decoration: none;
    transition: all .5s;
    display: none
}
.top a{bottom: 80px}
.gongyong a.hover{color: #f4a4b9}


.hljs{
    font-family: Monaco, Consolas, monospace;
    font-size: 16px;
}
#post-content pre code,
#post-content pre tt{
    padding: 8px;
}
code.hljs.hljs-line-numbers {
    color: #bbb;
}

body {
    font-size: 17px;
}