html, body,.mdui-textfield-input{
    background-color: #1b1d1f;
    color: #fff !important;
    font-style: #fff !important;
}
.mdui-panel-item{
    background-color: #ffffff0c !important;
    color: #fff !important;
}
.mdui-list-item{
    background-color: #ffffff0a !important;
    color: #fff !important;
}
.mdui-chip{
    background-color: #ffffff24 !important;
    color: #fff !important;
}
.mdui-toolbar{
    background-color: #1b1d1f !important;
    color: #fff !important;
}
.waifu-tips{
    background-color: rgba(255, 255, 255, 0.123) !important;
}
